.lg {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
    width: 80px;
	height: 80px;
	position: absolute;
    display: block;
	@include vendor('transition', 'all #{_duration(nav)} ease-in-out');
    &-white {@extend .lg; background-image: url(../../images/icon/logo-w.svg);}
    &-black {@extend .lg; background-image: url(../../images/icon/logo-b.svg);}

    #banner & {width: 125px; height: 125px; float: left; padding-top: 125px;}
    #nav & {top: 2em; display: none;
        // @include breakpoint(xlarge) {display: none;}
        // @include breakpoint(large) {display: none;}
        // @include breakpoint(medium) {display: none;}
        // @include breakpoint(small) {display: block;}
        @include breakpoint(xsmall) {display: block; width: 40px; height: 40px;}
    }
    #header & {background-size: 60%; left: 2.5em;
        @include breakpoint(small) {left: 1.5em; opacity: 0}
        @include breakpoint(xsmall) {left: 0.5em}
    }
}