.manifest {height: 400vh; overflow: hidden;
	.manifest-slogan {vertical-align: middle; line-height: 100vh; z-index: 1;
		h2 {display: inline-block; vertical-align: middle; max-width: 80%; line-height: 1.25em; margin: 0;
			@include breakpoint(xsmall) {font-size: 2em}
		}
		&.stuck h2 {max-width: 75%}
	}
	.image {
		&.first-child {position: absolute; left: 50%; margin-left: -90px; top: 105%;
			@include breakpoint(xsmall) {}
		}
		&.second-child {position: absolute; padding: 3em; left: 0; top: 180%;
			@include breakpoint(xsmall) {left: -180px}
		}
		&.third-child {position: absolute; padding: 2em; right: 0; top: 275%;
			@include breakpoint(xsmall) {right: -180px}
		}
	}
	img {display: inline-block}
	.fixed {
		position: fixed;
	    bottom: 0px;
	    top: 0px;
	    left: 0px;
	    right: 0px;
        width: 80em;
    	margin: auto;
	    @include breakpoint(xlarge) {width: 80em}
	    @include breakpoint(large) {width: 70em}
	    @include breakpoint(medium) {width: 90%}
	    // @include breakpoint(small) {padding: 0}
	    @include breakpoint(xsmall) {width: 100%}
	}
	.relative {position: relative;}
	.absolute {
	    position: absolute;
	    top: auto;
	    line-height: 100vh;
	    bottom: 0;
	    // @include breakpoint(large) {bottom: -900px}
	    // @include breakpoint(medium) {bottom: -216%}
	    // @include breakpoint(small) {bottom: -850px}
	    // @include breakpoint(xsmall) {bottom: -750px}
	}
}