.projects-snip {position: relative;
	@include breakpoint(xsmall) {max-height: 400px; overflow: hidden}
	a {display: block; color: inherit;
		&:hover {opacity: 1;
			.image {
				&:after {opacity: 0.42;
					@include breakpoint(xsmall) {opacity: 0}
				}
			}
		}
	}
	&.white {color: _palette(bg);
		h3 {color: _palette(bg)}
	}
	.image.fit {margin: 0}
	img {position: relative; z-index: 0; max-height: 778px}
	h3 {position: absolute; z-index: 1; bottom: 3.25em; left: 1em;
		@include breakpoint(xsmall) {font-size: 2.35em; bottom: 1.25em}
	}
	p {position: absolute; z-index: 1; bottom: 1em; left: 1.25em; line-height: 1.25em;
		@include breakpoint(xsmall) {left: 2.5em}
	}
}