.grid-item {
  // float: left;
  width: 50%;
  // height: 50px;
  // background: #e6e5e4;
  // border: 2px solid #b6b5b4;
  // &--width2 { width: 100px; }
  // &--height2 { height: 100px; }
}
.grid-sizer {width: 50%}